<html>
<head>
	<title>Dojo Survey</title>
</head>
<body>

	<div class = "container">

		{% with messages = get_flashed_messages() %}
    		{% if messages %}
     			{% for message in messages %}
        			<p>{{message}}</p>
      			{% endfor %}
    		{% endif %}
 		{% endwith %}

		<form action='/result' method='POST'>
			<br>	
			Your Name: <input type="text" name="name" value="">
			</br>
			<br>
			Dojo Location: <select name = "location">
								<option  value = "SJ">San Jose</option>
								<option  value = "SEA">Seattle</option>
								<option  value = "LA">Los Angeles</option>
							</select>
			</br>
			<br>
			Favorite Language: <select name= "language" >
								<option  value = "PY">Python</option>
								<option  value = "JS">Javascript</option>
								<option  value = "IOS">Swift</option>
							</select>
			</br>
			<br>
			Comment(optional):<input type="text" name="comment" value="">
			</br>
			<br>
			<input type="Submit" value="Submit">
			</br>
		</form>	

	</div>
	


</body>
</html>